{% extends 'base.html.twig' %}

{% block title %}TheBlog - Home{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="home_content">
        <h1 class="text-center">TheBlog</h1>
        <p class="text-center">{% if app.user %} Bonjour {{ app.user.login }} {% endif %}</p>
    </div>

    <div class="all_posts">
        <div class="container">
            <h1 class="text-center">Blogs récents</h1>
            <div class="card-group">
            {% for posts in lastPosts %}
                <div class="card">
                    <img src="{{ posts.picture }}" class="card-img-top" height="300" width="200" alt="PostPicture">
                    <div class="card-body">
                        <h5 class="card-title">{{ posts.title }}</h5>
                        <p class="card-text">
                            {{ posts.content }}
                        </p>
                        <a href="/blog/{{ posts.id }}" class="btn btn-primary">See More</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Créer le {{ posts.createdAt | date('d-m-Y') }}</small>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
