{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Sign Up</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.login) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Sign up</button>
    {{ form_end(registrationForm) }}
{% endblock %}
